name: App Workflow

on:
  workflow_call:
    inputs:
      modified_apps:
        type: string
        description: List of modified apps
      skip_cd:
        type: string
        description: Apps to skip continuous deployment
        default: "[]"
        required: false
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true
        
jobs:
  CD:
    runs-on: self-hosted
    strategy:
      matrix:
        apps: ${{ fromJson(inputs.modified_apps) }}
    steps:
    - name: Git clone the repository
      uses: actions/checkout@v4

    - name: Set up Helm
      uses: azure/setup-helm@v4.2.0
      with:
        version: 'latest'

    - name: Deploy
      if: ${{ matrix.apps != 'gha-runner' }}
      run: |
        sed -i "s/^name: .*/name: ${{ matrix.apps }}/" .helm-tmpl/Chart.yaml
        sed -i "s/^appVersion: .*/appVersion: ${{ needs.CI.outputs.tag }}/" .helm-tmpl/Chart.yaml

        helm upgrade --install --atomic \
          --create-namespace \
          --namespace ${{ matrix.apps }} \
          --set image.repository=${{ secrets.DOCKER_USERNAME }}/${{ matrix.apps }} \
          --set image.tag=${{ needs.CI.outputs.tag }} \
          -f .helm-tmpl/values.yaml -f ${{ matrix.apps }}/.helm/values.yaml -f ${{ matrix.apps }}/.helm/sandbox/values.yaml \
          ${{ matrix.apps }} .helm-tmpl