name: CI

on:
  workflow_call:
    inputs:
      build_args:
        type: string
        description: List of build args for Docker build
        default: ""
        required: false
      paths_modified:
        type: string
        description: List of modified apps
        required: true
      tag_latest:
        type: boolean
        description: Whether to tag the image as latest for main branch
        default: false
        required: false
    outputs:
      tag:
        description: Docker image tag
        value: ${{ jobs.CI.outputs.tag }}
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true
        
jobs:
  CI:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    if: ${{ inputs.paths_modified != '[]' || inputs.paths_modified == 'SKIP' }}
    outputs:
      tag: ${{ steps.set_tag.outputs.tag }}
    strategy:
      matrix:
        apps: ${{ fromJson(inputs.paths_modified) }}

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout repository
      uses: actions/checkout@v3

    # Set up Docker Buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Check Docker daemon
      run: docker info

    # Login to Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Set Tag
      id: set_tag
      run: |        
        if [ "${{ github.event_name }}" = "pull_request" ]; then
          tag=${{ github.head_ref }}-$(echo "${{ github.event.pull_request.head.sha }}" | head -c5)
        elif [ "${{ inputs.tag_latest }}" = "true" ]; then
          tag=latest
        else
          tag=${{ github.ref_name }}-$(echo "${{ github.sha }}" | head -c5)
        fi

        echo "tag=$tag" >> $GITHUB_OUTPUT

    # Build and push the Docker image
    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: ${{ matrix.apps }}
        platforms: linux/amd64
        push: true
        tags:  ${{ secrets.DOCKER_USERNAME }}/${{ matrix.apps }}:${{ steps.set_tag.outputs.tag }}

    # Verify that the Docker image is built
    - name: Image digest
      run: echo ${{ steps.build.outputs.digest }}
